/* Загальні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Verdana', sans-serif;
    background-color: #F8F9FA;
}
.container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.75fr;
    grid-template-rows: 0.4fr 2fr 0.01fr 0.4fr;
    grid-template-areas:
        "header header header"
        "menu content sidebar"
        "menu footer sidebar"
        "menu bottom bottom";
    gap: 0;
    height: 100vh;
}

/* Верхній блок */
header {
    grid-area: header;
    background-color: #64403E;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F5F5DC;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
header h1.left {
    margin: 0;
    font-size: 1.4em;
    font-weight: bold;
}
header .x-header {
    background-color: #E1E5D8;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
}
header .x-header h2.right {
    font-size: 1.2em;
    margin: 0;
}

/* Меню */
.menu {
    grid-area: menu;
    background-color: #D4D9C9;
    padding: 20px;
    position: relative;
}

/* Основний контент */
.content {
    grid-area: content;
    background-color: #E1E5D8;
    padding: 25px;
    overflow-y: auto;
    text-align: justify;
}

/* Бокова панель */
.sidebar {
    grid-area: sidebar;
    background-color: #C9CEBD;
    padding: 15px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.05);
}

/* Підпис до картинки */
.image-caption {
    font-size: 1em;
    color: #333;
    text-align: center;
    margin-top: 10px;
}

/* Футер */
footer {
    grid-area: footer;
    background-color: #707B73;
    padding: 3px;
    text-align: right;
    color: #F5F5DC;
    font-size: 0.8em;
    font-weight: 300;
}

/* Нижній блок */
.bottom {
    grid-area: bottom;
    background-color: #6C6061;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.bottom h2 {
    margin: 0;
    background-color: #E1E5D8;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

/* Адаптація для мобільних пристроїв */
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .menu {
        text-align: left;
        padding: 10px;
    }

    .menu-title {
        width: 100%;
        display: block;
    }

    .menu-list {
        position: static;
        box-shadow: none;
    }
}
